.wrapper{
border: 1px solid white;
display: flex;
height: 30px;
align-items: center;
padding: 5px;
border-radius: 8px;
width: 400px;
background-color: white;
justify-content: space-between;
min-width: 200px;

}
.container{
    display: flex;
    border: none;
    padding: 5px;
    font-weight: 400;
    cursor: text;
}